/*######## SECTION LIST SERVICES ########*/

section.serviceList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 5vmin;
    width: 100%;
    height: 100%;
}

/*######## ARTICLE LIST SERVICES ########*/

.article {
    width: 80vmin;
    height: 20vmin;
    cursor: pointer;
    text-align: center;
    border-radius: 1vmin;
    padding: 6vmin 1vmin;
    color: var(--blue-color);
    box-shadow: inset 0 0 15px 0 var(--blue-color);
    background-color: var(--h2-serviceList-color);
    margin: 1vmin;
    font-size: 8vmin;
}

.article :hover {
    text-shadow: 0 0 5px var(--grey2-color);
}

.article:active {
    border-style: inset;
    color: var(--write-color);
    background: var(--lightBlue-color);
    background: linear-gradient(
        0deg,
        var(--blue2-color) 0%,
        var(--lightBlue-color) 100%
    );
}

/*######## UL LIST SERVICES ########*/

.ulServicesList {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    list-style: none;
    gap: 1vmin;
    width: 90%;
    height: 100%;
    margin-top: 10vmin;
    margin-bottom: 40vmin;
}

.ulServicesList > li {
    flex-grow: 1;
}
.ulServicesList > li > .link {
    text-decoration: none;
}


@media (min-width: 100px) {
    .article {
        font-size: 7vmin;
    }
}

@media (min-width: 200px) {
    .article {
        font-size: 6vmin;
        padding: 7vmin 1vmin;
    }
    .ulServicesList {
        margin-bottom: 30vmin;
        margin-top: 3vmin;
    }
}

@media (min-width: 300px) {
    .article {
        font-size: 5vmin;
    }

    .ulServicesList {
        margin-bottom: 20vmin;
    }
}

/**
 * #########################
 * ##        TABLET       ##
 * #########################
*/

@media (min-width: 700px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3vmin;
    }
    .ulServicesList {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 1vmin;
        margin-bottom: 20vmin;
    }

    .article {
        width: 35vmin;
        height: 20vmin;
        font-size: 4vmin;
        text-align: center;
        padding: 7vmin 3vmin;
    }

}

/**
 * #########################
 * ##      ORDENADOR      ##
 * #########################
*/

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 2vmin;
        --h1-custom-font-size: 2.5vmin;
    }
    .ulServicesList {
        margin: 3vmin 0vmin;
        margin-bottom: 20vmin;
    }

    .article {
        width: 30vmin;
        height: 15vmin;
        font-size: 3vmin;
        padding: 5vmin 3vmin;
        }
}
