/*########  SECTION HOME PAGE  ########*/

section.sectionHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

/*########  H1, H3 HOME PAGE  ########*/

section.sectionHomePage > h1 {
    color: var(--blue-color);
    font-size: 10vmin;
    text-align: center;
    margin: 5vmin;
}

section.sectionHomePage > h3 {
    font-size: 9vmin;
    color: var(--yellow-color);
    margin-top: 15vmin;
}

button.link {
    display:block;
    width: 85%;
    min-height: 10vmin;
    cursor: pointer;
    text-align: center;
    font-size: var(--h1-custom-font-size);
    margin: 0.2rem auto;
    border-radius: 10px;
    padding: 3vmin;
    color: var(--write-color);
    border: 2px outset var(--write-color);
    background: linear-gradient(
        180deg,
        var(--grey2-color) 0%,
        var(--blue2-color) 100%
    );
}

@media (min-width: 65px) {
    section.sectionHomePage > h1 {
        font-size: 11vmin;
        text-align: end;
        margin-top: 10vmin;
        margin-bottom: 10vmin;
    }
}

@media (min-width: 200px) {
    section.sectionHomePage > h3{
        font-size: 8vmin;
        margin-top: 10vmin;
    }
}

@media (min-width: 500px) {
    section.sectionHomePage > h3{
        font-size: 7vmin;
    }

    section.sectionHomePage > h1 {
        font-size: 13vmin;
        margin-bottom: 20vmin;
    }
}

/**
 * ########################
 * ##       TABLET       ##
 * ########################
*/

@media (min-width: 700px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3vmin;
    }
 
}

/**
 * #########################
 * ##      ORDENADOR      ##
 * #########################
*/

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 2vmin;
        --h1-custom-font-size: 2.5vmin;
    }
    section.sectionHomePage > h1 {
        font-size: 15vmin;
        margin-bottom: 20vmin;
    }
}
