/*#### BACKGROUND NOT FOUND PAGE ########*/

.notFound {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey3-color);
    transition: background-color 0.5s;
}
.notFound:hover {
    background-color: var(--blue-color);
    color: var(--grey3-color);
}

.notFound > h1 {
    margin: 10vmin;
    font-size: 20vmin;
}

.notFound > h1:hover {
    color: var(--blue-color);
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
*/

@media (min-width: 700px) {
    :root {
        --custom-font-size: 3.5vmin;
        --h1-custom-font-size: 5.5vmin;
    }
    .notFound > h1 {
        font-size: 16vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 3vmin;
        --h1-custom-font-size: 5vmin;
    }

    .notFound > h1 {
        font-size: 13vmin;
    }
}
